<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="icon" href="res/imgs/favicon.ico" type="image/x-icon">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%; 
            background-image: url('https://img.freepik.com/premium-vector/kawaii-chicken-duck-seamless-background_6997-1604.jpg'); 
            background-repeat: repeat; 
            background-position: center; 
            background-size: auto; 
            font-family: Arial; 
        }
    </style>
    
</head>
<body class="dark-mode">
    <div class="white-content-box">
        <h1 id="thankYouMessage">Thank You for rating!</h1>
        <p>Your feedback is greatly appreciated.</p>
        <a href="/" class="refresh-button" data-action="reload">
            <img src="" alt="Thank You" class="thank-you-image" id="thankYouImage">
        </a><br>
        <!-- <center><a href="https://spark-games.co.uk" class="home-button">Return Home</a></center> -->
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const params = new URLSearchParams(window.location.search);
            const userName = params.get('userName');
            
            // Dynamically generate the image source
            const imageNumber = Math.floor(Math.random() * 12) + 1; // Generates a number between 1 and 12
            const imageSrc = `/res/imgs/thankyou/thankyou (${imageNumber}).jpg`;
    
            if (userName) {
                document.getElementById('thankYouMessage').textContent = `Thank You for rating ${decodeURIComponent(userName)}`;
            }
    
            // Set the source for the thank you image
            var thankYouImage = document.getElementById("thankYouImage");
            thankYouImage.src = imageSrc;
        });
    </script>
<script src="/js/thank-you-script.js"></script>
</body>
</html>
