<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Service</title>
    <link rel="icon" href="res/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/rating.css">
</head>
<body>
    <h2>Rate My Service</h2>
    <form action="/api/ratings" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="userId" value="">
        <p id="serviceQuestion">How was your service today?</p> 
        <div class="client-star-rating">
            <input type="radio" id="star5" name="rating" value="5" checked >
            <label for="star5"><i class="fa fa-star"></i></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"><i class="fa fa-star"></i></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"><i class="fa fa-star"></i></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"><i class="fa fa-star"></i></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"><i class="fa fa-star"></i></label>
        </div>
        <div id="ratingMessage"></div>
        <br>
        <input type="text" name="customerName" placeholder="Your Name" required>
        <br>
        <textarea name="comments" placeholder="Comments"></textarea>
        <button id="submitRating" type="submit">Submit Rating</button>
    </form>
    <script src="/js/rating-form-script.js"></script>
    
    <script>
        window.onload = function() {
            const params = new URLSearchParams(window.location.search);
            const userId = params.get('userId');
            const userName = params.get('userName');
            if(userId && userName) {
                document.querySelector('form').action = `/api/ratings/${userId}`;
                document.querySelector('input[name="userId"]').value = userId;
                document.getElementById('serviceQuestion').textContent = `How was your service by ${userName} today?`;
            }
        };
    </script>
</body>
</html>