<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="icon" href="res/imgs/favicon.ico" type="image/x-icon">
</head>
<body class="dark-mode">
    <div class="thank-you-container">
        <h1>Thank You for rating<%= again %>!</h1>
        <p>Your <%= ratingScore %> feedback is greatly appreciated.</p>
        <a href="/" class="refresh-button" data-action="reload">
            <img src="<%= thankYouImage %>" alt="Thank You" class="thank-you-image">
        </a>
        <a href="https://spark-games.co.uk" class="home-button">Return Home</a>
    </div>
    <script src="/js/thank-you-script.js"></script>
</body>
</html>
